@model WidgetZoneModel
@{
    //page title
    ViewBag.Title = T("Nop.Plugin.Baroque.Widgets.qBoSlider.Admin.WidgetZone.Create").Text;
    //active menu item (system name)
    nopHtml.SetActiveMenuItemSystemName("Baroque-qBoSlider-WidgetZone");
    Layout = "_AdminLayout";
}

<form asp-controller="qBoWidgetZone" asp-action="Create" method="post" id="widget-zone-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Nop.Plugin.Baroque.Widgets.qBoSlider.Admin.WidgetZone.Create")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Nop.Plugin.Baroque.Widgets.qBoSlider.Admin.WidgetZone.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "qBo_slider_widget_create_buttons" })
        </div>
    </div>
    <div class="content-header clearfix">
        <div class="ui-state-highlight ui-corner-all" style="margin-top:0;padding:10px">
            <span class="ui-icon ui-icon-info" style="float:left;margin-right:.3em"></span>
            @T("Nop.Plugin.Baroque.Widgets.qBoSlider.Admin.ClearNopCommerceWidgetZoneAfterNewWidgetZoneCreation")
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Widgets.qBoSlider/Views/Admin/WidgetZone/_CreateOrUpdate.cshtml", Model)
</form>