@using Nop.Plugin.Widgets.qBoSlider;
@model WidgetZoneModel
@{
    Layout = "";
    nopHtml.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.qBoSlider/Content/js/swiper-bundle.min.js");


    nopHtml.AddCssFileParts("~/Plugins/Widgets.qBoSlider/Content/css/swiper-bundle.min.css");
    nopHtml.AddCssFileParts("~/Plugins/Widgets.qBoSlider/Content/css/slider.css");

    string alignment = string.Empty;
    switch (Model.AlignmentId)
    {
        case (int)SliderAlignment.Left:
            alignment = "margin-right: auto;";
            break;
        case (int)SliderAlignment.Center:
            alignment = "margin-left: auto; margin-right: auto;";
            break;
        case (int)SliderAlignment.Right:
            alignment = "margin-left: auto;";
            break;
        default:
            break;
    }
}
@using Nop.Web.Framework.UI

<div class="slider-container" id="slider-container-@Model.Id" style="@alignment">
    <div class="swiper qbo-slider" id="qbo-slider-@Model.Id">
        <div class="swiper-wrapper">
            @foreach (var slide in Model.Slides)
            {
                <div class="swiper-slide">

                    @if (!string.IsNullOrEmpty(slide.Hyperlink))
                    {
                        <a href="@(string.IsNullOrEmpty(slide.Hyperlink) ? "#" : slide.Hyperlink)">
                            <div class="slide-background">
                                <img src="@slide.PictureUrl" />
                            </div>
                            <div class="slide-description">
                                @Html.Raw(slide.Description)
                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="slide-background">
                            <img src="@slide.PictureUrl" />
                        </div>
                        <div class="slide-description">
                            @Html.Raw(slide.Description)
                        </div>
                    }
                </div>
            }
        </div>
        @if (Model.BulletNavigation == 5)
        {
            <div class="swiper-pagination"></div>
        }
        @if (Model.ArrowNavigation == 5)
        {
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        }
    </div>
</div>

<script asp-location="Footer">
    var swiper6 = new Swiper("#qbo-slider-@Model.Id", {
       autoHeight: true,
         grabCursor: true,
         effect: "fade",
         lazy: true,
    @if (Model.AutoPlay)
    {
        <text>
                 autoplay: {
                    delay: @Model.AutoPlayInterval
                 },
        </text>
    }
    @if (Model.BulletNavigation == 5)
    {
        <text>
                 pagination: {
                     el: ".swiper-pagination",
                     clickable: true,
                 },
        </text>
    }
    @if (Model.ArrowNavigation == 5)
    {
        <text>
                 navigation: {
                     nextEl: ".swiper-button-next",
                     prevEl: ".swiper-button-prev",
                 },
        </text>
    }
     });
</script>

