@using Nop.Plugin.Widgets.qBoSlider;
@model WidgetZoneModel
@{
    Layout = "";
    //Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.qBoSlider/Scripts/jssor.js");
    nopHtml.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.qBoSlider/Scripts/slick.min.js");


    nopHtml.AddCssFileParts("~/Plugins/Widgets.qBoSlider/Content/slick-theme.css");
    nopHtml.AddCssFileParts("~/Plugins/Widgets.qBoSlider/Content/slick.css");
    nopHtml.AddCssFileParts("~/Plugins/Widgets.qBoSlider/Content/slider.css");

    string alignment = string.Empty;
    switch (Model.AlignmentId)
    {
        case (int)SliderAlignment.Left:
            alignment = "margin-right: auto;";
            break;
        case (int)SliderAlignment.Center:
            alignment = "margin-left: auto; margin-right: auto;";
            break;
        case (int)SliderAlignment.Right:
            alignment = "margin-left: auto;";
            break;
        default:
            break;
    }
}
@using Nop.Web.Framework.UI


<div class="slider-container" id="slider-container-@Model.Id" style="@alignment">
    <div class="slider" id="slider-@Model.Id">
        @foreach (var slide in Model.Slides)
        {
            <div class="qbo-slide">
                @if (!string.IsNullOrEmpty(slide.Hyperlink))
                {
                    <a href="@(string.IsNullOrEmpty(slide.Hyperlink) ? "#" : slide.Hyperlink)">
                        <div class="slide-background">
                            <img src="@slide.PictureUrl" />
                        </div>
                        <div class="slide-description">
                            @Html.Raw(slide.Description)
                        </div>
                    </a>
                }
                else
                {
                    <div class="slide-background">
                        <img src="@slide.PictureUrl" />
                    </div>
                    <div class="slide-description">
                        @Html.Raw(slide.Description)
                    </div>
                }
            </div>
        }
    </div>
</div>

<script>
    $('#slider-@Model.Id').slick({
        autoplay: @Model.AutoPlay.ToString().ToLower(),
        autoplaySpeed: @Model.AutoPlayInterval, //скорость проигрования
        speed: 500, //скорость анимации смены слайдов
        infinite: true, //цыклическое повторение слайдов. В противном случае они будут повторятся в обратном порядке
        centerMode: true, // выравнивание содержимого слайда по центру
        centerPadding: '50px', //related to 'centerMode' property
        arrows: @((Model.ArrowNavigation == (int)NavigationType.Always).ToString().ToLower()), //navigation arrows displaying. Not working on currrent moment
        dots: @((Model.BulletNavigation == (int)NavigationType.Always).ToString().ToLower()),
        swipe: true, //allows to change slides via finger swiping
        swipeToSlide: true, //allows swipe slide with slide step ignore
        touchThreshold: @Model.MinDragOffsetToSlide,
        pauseOnFocus: true, // останавливать автоматическое проигрование слайдов при фокусе
    });
</script>

