@using Nop.Plugin.Widgets.qBoSlider;
@model WidgetZoneModel
@{
    Layout = "";
    //Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.qBoSlider/Scripts/jssor.js");
    nopHtml.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.qBoSlider/Scripts/slick.min.js");


    nopHtml.AddCssFileParts("~/Plugins/Widgets.qBoSlider/Content/slick-theme.css");
    nopHtml.AddCssFileParts("~/Plugins/Widgets.qBoSlider/Content/slick.css");
    nopHtml.AddCssFileParts("~/Plugins/Widgets.qBoSlider/Content/slider.css");

    string autoPlay = Model.AutoPlay ? "True" : string.Empty;
    string alignment = string.Empty;
    switch(Model.AlignmentId)
    {
        case (int)SliderAlignment.Left:
            alignment = "margin-right: auto;";
            break;
        case (int)SliderAlignment.Center:
            alignment = "margin-left: auto; margin-right: auto;";
            break;
        case (int)SliderAlignment.Right:
            alignment = "margin-left: auto;";
            break;
        default:
            break;
    }
}
@using Nop.Web.Framework.UI


<div class="slider-container" id="slider-container-@Model.Id">
    <div class="slider" id="slider-@Model.Id">
        @foreach (var slide in Model.Slides)
        {
            <div class="qbo-slide">
                @if (!string.IsNullOrEmpty(slide.Hyperlink))
                {
                    <a href="@(string.IsNullOrEmpty(slide.Hyperlink) ? "#" : slide.Hyperlink)">
                        <img src="@slide.PictureUrl" />
                        <div class="slide-description">
                             @Html.Raw(slide.Description) 
                        </div>
                    </a>
                }
                else
                {
                    <img src="@slide.PictureUrl" />
                    <div class="slide-description">
                        @Html.Raw(slide.Description)
                    </div>
                }
            </div>
        }
    </div>
</div>

<script>
    $('#slider-@Model.Id').slick();
</script>

