@using Nop.Plugin.Widgets.qBoSlider;
@model PublicSliderModel
@{
    Layout = "";
    nopHtml.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.qBoSlider/Content/js/swiper-bundle.min.js");


    nopHtml.AddCssFileParts("~/Plugins/Widgets.qBoSlider/Content/css/swiper-bundle.min.css");
    nopHtml.AddCssFileParts("~/Plugins/Widgets.qBoSlider/Content/css/slider.css");
}
@using Nop.Web.Framework.UI

<div class="slider-container" id="slider-container-@Model.Id">
    <div class="swiper qbo-slider" id="qbo-slider-@Model.Id">
        <div class="swiper-wrapper">
            @foreach (var slide in Model.Slides)
            {
                <div class="swiper-slide">

                    @if (!string.IsNullOrEmpty(slide.Hyperlink))
                    {
                        <a href="@(string.IsNullOrEmpty(slide.Hyperlink) ? "#" : slide.Hyperlink)">
                            <div class="slide-background">
                                <img src="@slide.PictureUrl" />
                            </div>
                            <div class="slide-description">
                                @Html.Raw(slide.Description)
                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="slide-background">
                            <img src="@slide.PictureUrl" />
                        </div>
                        <div class="slide-description">
                            @Html.Raw(slide.Description)
                        </div>
                    }
                </div>
            }
        </div>
        @if (Model.AllowBulletNavigation)
        {
            <div class="swiper-pagination" id="qbo-slider-pagination-@Model.Id"></div>
        }
        @if (Model.AllowArrowNavigation)
        {
            <div class="swiper-button-prev" id="qbo-slider-btn-previous-@Model.Id"></div>
            <div class="swiper-button-next" id="qbo-slider-btn-next-@Model.Id"></div>
        }
    </div>
</div>

<script asp-location="Footer">
    var swiper = new Swiper("#qbo-slider-@Model.Id", {
        autoHeight: @Model.AutoHeight.ToString().ToLower(),
        loop: @Model.Loop.ToString().ToLower(),
        grabCursor: true,
        effect: "slide",
        slidesPerView: @Model.SlidesPerView,
        slidesPerGroup: @Model.SlidesPerGroup,
        spaceBetween: @Model.SlideSpacing,
        // lazy: true,
    @if (Model.Autoplay)
    {
        <text>
            autoplay: {
                delay: @Model.AutoplayInterval
            },
        </text>
    }
    @if (Model.AllowBulletNavigation)
    {
        <text>
            pagination: {
                el: "#qbo-slider-pagination-@Model.Id",
                clickable: true,
            },
        </text>
    }
    @if (Model.AllowArrowNavigation)
    {
        <text>
            navigation: {
                nextEl: "#qbo-slider-btn-next-@Model.Id",
                prevEl: "#qbo-slider-btn-previous-@Model.Id",
            },
        </text>
    }
    });
</script>

