@model SlideModel

@{
    const string hideInfoBlockAttributeName = "Baroque.qBoSlider.Admin.Slide.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideInfoBlockAttributeName);

    const string hideWidgetZonesBlockAttributeName = "Baroque.qBoSlider.Admin.Slide.HideWidgetZonesBlock";
    var hideWidgetZonesBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideWidgetZonesBlockAttributeName);

    const string hideMappingsBlockAttributeName = "Baroque.qBoSlider.Admin.Slide.HideMappingsBlock";
    var hideMappingsBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideMappingsBlockAttributeName);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="form-horizontal">
        <nop-cards id="widget-zone-card">
            <nop-card asp-name="info-card" asp-icon="fa fa-info" asp-title="@T("Nop.Plugin.Baroque.Widgets.qBoSlide.Admin.Slide.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">
                @await Html.PartialAsync("~/Plugins/Widgets.qBoSlider/Views/Admin/Slide/_CreateOrUpdate.Info.cshtml", Model)
            </nop-card>
            <nop-card asp-name="slides-card" asp-icon="fa fa-th-list card-icon" asp-title="@T("Nop.Plugin.Baroque.Widgets.qBoSlide.Admin.Slide.WidgetZones")" asp-hide-block-attribute-name="@hideWidgetZonesBlockAttributeName" asp-hide="@hideWidgetZonesBlock">
                @if (Model.Id > 0)
                {
                    @await Html.PartialAsync("~/Plugins/Widgets.qBoSlider/Views/Admin/Slide/_CreateOrUpdate.WidgetZones.cshtml", Model)
                }
                else
                {
                    <div class="card-body">
                        @T("Nop.Plugin.Baroque.Widgets.qBoSlide.Admin.Slide.YouCanAddWidgetZonesToThisSlideAfterSaving")
                    </div>
                }
            </nop-card>
            <nop-card asp-name="mappings-card" asp-icon="fa fa-bookmark card-icon" asp-title="@T("Nop.Plugin.Baroque.Widgets.qBoSlide.Admin.Slide.Mappings")" asp-hide-block-attribute-name="@hideMappingsBlockAttributeName" asp-hide="@hideMappingsBlock">
                @await Html.PartialAsync("~/Plugins/Widgets.qBoSlider/Views/Admin/Slide/_CreateOrUpdate.Mappings.cshtml", Model)
            </nop-card>
        </nop-cards>
    </div>
</section>